@import "../../index.scss";

.portfolio {
  padding-top: 40px;
  padding-bottom: 40px;

  &_container {
    @extend .container;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  &_short {
    height: 100%;
    display: flex;
    flex: 0 0 450px;
    max-width: 450px;
    justify-content: center;
    align-items: center;

    &_block {
      background-color: #efe4cf;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 850px;
      position: relative;

      &_star_top {
        height: 20px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &_star_bottom {
        height: 20px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
      }
      &_container {
        @extend .container;
        height: 90%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 0;
        padding-right: 0;
      }
      &_photo {
        width: 100%;
        height: 60%;
        overflow: hidden;
        display: flex;
        border-radius: 20px;
        justify-content: center;
      }
      &_text {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 30px;

        &_item {
          width: 100%;
          line-height: 1.5;
          font-size: 20px;
          color: $text_color;

          &_header {
            font-weight: bold;
          }
          &_text {
            &_medias {
              display: flex;
              justify-content: space-between;
              margin-top: 5px;
              width: 40%;

              & svg {
                color: #b63820;
                height: 30px;
                width: 30px;
              }
            }
          }
        }
      }
    }
  }
  &_information {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 60px;
    flex: 1;

    &_block {
      display: flex;

      &_text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &_min {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          color: $text_color;

          & span {
            font-weight: bold;
          }
        }
      }
    }
  }
}

.portfolio_information {
  .portfolio_short_block_text_item {
    margin-top: 40px;
  }
}

@media (max-width: 1300px) {
  .portfolio_information {
    .portfolio_short_block_text_item {
      margin-top: 20px;
      font-size: 18px;
    }
  }
}
@media (max-width: 1100px) {
  .portfolio {
    &_container {
      flex-direction: column;
      align-items: center;
    }
    &_short {
      margin-bottom: 30px;
      flex: 0 0 100%;
      max-width: 100%;

      &_block {
        // width: 200%;

        &_container {
          width: 85%;
        }
        &_text_item {
          font-size: 18px;

          &_text_medias {
            width: 30%;

            & svg {
              width: 25px;
            }
          }
        }
      }
    }
    &_information {
      padding-left: 20px;
    }
  }
}
@media (max-width: 680px) {
  .portfolio {
    &_short {
      &_block {
        // width: 100%;
        &_container {
          width: 85%;
        }
        &_text_item {
          font-size: 18px;

          &_text_medias {
            width: 30%;

            & svg {
              width: 25px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .portfolio {
    padding-top: 30px;
    padding-bottom: 30px;

    &_short {
      // max-width: 280px;
      // flex: 0 0 280px;

      &_block {
        &_star_top {
          height: 15px;
        }
        &_star_bottom {
          height: 15px;
        }
        &_text_item {
          font-size: 16px;

          &_text_medias {
            & svg {
              width: 20px;
            }
          }
        }
      }
    }
    &_information {
      padding-left: 0px;
    }
  }
  .portfolio_information .portfolio_short_block_text_item {
    font-size: 16px;
  }
}
@media (orientation: portrait) {
}
